[submodule "tmux"]
	path = tmux
	url = https://github.com/tmux/tmux.git
[submodule "Containers"]
	path = Containers
	url = git@github.com:vasic-digital/Containers.git
[submodule "constitution"]
	path = constitution
	url = git@github.com:HelixDevelopment/HelixConstitution.git
